.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title h1 {
  color: blue;
}

.profile-info {
  margin: 10px;
  text-align: left;
}

.profile-info label {
  font-size: 14px;
  color: black;
}

.profile-info label, .profile-info strong {
  display: block;
}
